@import url(https://fonts.googleapis.com/css?family=Lato&display=swap);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  font-family: "Lato";
  font-size: 15px;
}

.container {
  width: 100%;
  max-width: 1070px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.top-bar {
  background-color: #2e3a46;
}
.top-bar .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.top-bar img {
  max-height: 50px;
}
.top-bar-selectors select {
  background-color: #15293B;
  font-family: "Lato";
  color: #FFFFFF;
  font-size: 1.1em;
}

.main {
  background-color: #1E2D3B;
  min-height: calc(100vh - $topbar-h-size);
}
.main-cds-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  color: #FFFFFF;
}
.main-cds-list-elm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% / 4 - 30px);
  background-color: #2e3a46;
  padding: 20px;
  min-width: 200px;
  min-height: 360px;
  margin: 15px;
  text-align: center;
  list-style: none;
}
.main-cds-list-elm img {
  min-height: 180px;
  max-width: 100%;
  margin-bottom: 20px;
}
.main-cds-list-elm .title {
  color: #FFFFFF;
  font-size: 1.15em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.main-cds-list-elm .data {
  color: #969696;
}
.main-cds-list-elm .data > * {
  border-top: 2px solid #1E2D3B;
  padding: 10px;
}
