<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>JAVASCRIPT - PHP / AJAX [Dischi - Milestone#2]</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

    <div id="app" class="wrapper">

      <!-- TOP-BAR HEADER -->
      <header class="top-bar">
        <div class="container">
          <img src="img/00-logo.png" alt="logo">
          <nav class="top-bar-selectors">
            <select @click="filterList" v-model="genre">
              <option disabled value="">Filter by Genres</option>
              <option value="">all</option>
              <option v-for="genre in genres">{{genre}}</option>
            </select>
          </nav>
        </div>
      </header>
      <!-- / TOP-BAR HEADER -->

      <!-- MAIN DISC-LIST CONTENT -->
      <main class="main">
        <div class="container">
          <ul class="main-cds-list">
            <!-- Disc element -->
            <li v-for="disc in discsList" class="main-cds-list-elm">
              <div class="title">
                <img :src="disc.poster" alt="poster">
                <div>{{disc.title}}</div>
              </div>
              <div class="data">
                <div>{{disc.artist}}</div>
                <div>{{disc.year}}</div>
              </div>
            </li>
            <!-- / Disc element -->
          </ul>
        </div>
      </main>
      <!-- / MAIN DISC-LIST CONTENT -->

    </div>

    <script src="js/script.js" charset="utf-8"></script>

  </body>
</html>
