// Colors
$main-bg-col: #1E2D3B;
$evd-bg-col: rgb(46, 58, 70);
$input-bg-col: #15293B;
$txt-col: #FFFFFF;
$subtxt-col: #969696;

// Fonts
$main-font: 'Lato';
$main-font-size: 15px;
$input-font-size: 1.1em;
$tilte-font-size: 1.15em;

// Sizes
$topbar-h-size: 70px;
$logo-h-size: 50px;
$poster-h-size: 180px;
$list-w-size: 90%;
$list-elm-w-size: calc(100% / 4 - 30px);

// Spaces
$pdd-content: 20px;
$row-distance: 10px;

// Decorations
$lines-row: 2px solid $main-bg-col;
